body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin-top: 00px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
 
    
  
  }
  .filters{
    display: flex;
    justify-content: space-between;

  }

  .filterbar{

    margin-top: 1.5em;
    
  }

  .filter-input{
    color: rgba(0, 0, 0, 0.61);
    padding: 8px 10px;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    max-width: 400px;
  }

  .rentalPriceFilter{
    color: #111314a4;
    margin-top: 1.9em;
    width: 40%;
    max-width: 400px;
  }

 .title{
   
   text-align: center;
  
  }

  .filtertitle{
    margin-top: 3em;
    text-align: left;
  }

  .filtertitle h1{
    color: #2159a8d4;
    font-size: 34px !important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

 .title h1{
    margin-left: 182px;
    text-align: center;
    width: 70%;
    border-bottom: 3px solid #2159a8;
   color: #2159a8;
    font-size: 38px !important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  article {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px; 
    margin: 3em -7em;
    
  }
  .card {
    border: 1px solid #ddd; /* Add a softer border */
    border-radius: 20px;
    padding: 5px 5px; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease; 
    width: 450px;
   
  }
  
  
  .card:hover {
    transform: scale(1.12);
  }
  
  img{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      width: 438px;
      height: 300px;
  }

  .card-body{
    margin-left: 3px;
    text-align: left;
  }


  h3{
    font-size: 35px;
    color: #2159a8;
  }
  h6{
    font-size: 18px;
    color: #38363661;
  }

  h5{
    font-size: 18px;
    font-weight: 400;
    color: #38363661;
  }

  .search-container {
    margin-top: 30px;
    text-align: right;
    margin-bottom: 20px;
  
  }
  
  .fa-search {
    color: #ccc;
    position: relative;
     top: 30px;
     margin-right: 10px ;
  
  
  
  }
  
  .search-input {
    margin-right: 12px ;
    outline: none;
    padding: 8px 28px;
    border: 1px solid #ccc;
    border-radius: 60px;
    width: 100%;
    max-width: 700px;
  
  }
  
  .search-input:hover {
    box-shadow: 0 0 10px rgba(5, 26, 56, 0.374);
  }
  
 
  
  .pagination {
    font-weight: 500;
  }

 
  
  .sortBar p{
    font-weight:600;
    margin: 1em;

  }

 

  .action{
    display: flex;
    justify-content: space-between;
 }

 .Filterbtn{
  margin-top: 2em;
  width: 15%;
  text-align: left
 }
 .filter-btn{
  border:2px solid #2159a8be;
  margin-top: .5rem;
  color: #fff;
  font-size: 22px;
  width: 100%;
  padding:6px 6px;
  border-radius: 10px;
  background-color: #2159a8;

 }

 .filter-btn:hover{
  color: #2159a8;
  font-weight: bold;
 border: 3px solid #2159a8;
 background-color: transparent;
}


  .submit-btn {
    border:2px solid #2159a8;
        margin-top: .5rem;
        color: #fff;
        font-size: 22px;
        width: 100%;
        padding:6px 6px;
        border-radius: 10px;
        background-color: #2159a8;
      
        
      }
      
      .submit-btn:hover{
        color: #2159a8;
        font-weight: bold;
       border: 3px solid #2159a8;
       background-color: transparent;
      }
  
      .delete{
        background-color: #c30a0a;
        border:2px solid #c30a0a !important;

      }

      .delete:hover{
        color: #c30a0a !important;
        border: 3px solid #c30a0a !important;

      }
  
      .non-available-car {
        background-color: rgba(255, 0, 0, 0.324); /* Light red background */
        border: 1px solid rgba(255, 0, 0, 0.089); /* Red border */
        opacity: 0.7; /* Reduced opacity */
      }
      
  /* Responsive part */
  @media (max-width: 1324px){
    .sortBar{
      margin-top: 30px !important;
    }
  
    .fa-search {
      top: 31px;
   right: 13px;
      margin-top: 10px;
      margin-right: 10px;
    }
    .card {
        padding: 5px 5px;
        width: 400px;
      }

      img{
          width: 388px;
          height: 300px;
      }
      .card-body{
        padding: 10px 30px;
        text-align: center;
      }

      article {

        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px; 
        margin: 3em auto;
      }
    
      .card {
        padding: 5px 5px;
        width: 450px;
      }

      .card:hover {
        transform: scale(1.02);
      }
    
      img{
          width: 438px;
          height: 300px;
      }
      .card-body{
        padding: 10px 30px;
        text-align: center;
      }


  }

 
  @media (max-width: 1024px) {
  
    .sortBar{
      margin-top: 30px !important;
    }
  
    .fa-search {
      top: 31px;
   right: 13px;
      margin-top: 10px;
      margin-right: 10px;
    }
    .card {
        padding: 5px 5px;
        width: 400px;
      }

      img{
          width: 388px;
          height: 260px;
      }
      .card-body{
        padding: 10px 30px;
        text-align: center;
      }

      article {

        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 50px; 
        margin: 3em auto;
      }
    
      .card {
        padding: 5px 5px;
        width: 350px;
      }
    
      img{
          width: 338px;
          height: 300px;
      }
      .card-body{
        padding: 10px 30px;
        text-align: center;
      }

  
  }
  
  @media (max-width: 768px) {
  
    .fa-search {
      margin-top: 10px;
      margin-right: 10px;
    }
  
    .search-input {
      max-width: 100%;
    }
  
   
  }

 

  .loginPageButton {
    text-decoration: none;
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    background-color: rgba(0, 170, 255, 0.733);
  
  }
  
  .loginPageButton:hover {
    border: 3px solid rgba(0, 170, 255, 0.541);
    color: rgba(0, 170, 255, 0.541);
    font-weight: 700;
    background-color: white;
  }

