<div class="container">

    <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Failure !</strong>Login UnsuccessFul
      <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <form class="form" [formGroup]="loginForm" (ngSubmit)="loginSubmitted()">
      <div class="row g-0">
        <div class="login col text-center  ">
          <span class="loginHead fs-3">Login</span>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="email" class="form-label"> Email address </label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
            email is required
          </div>
          <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">
            Email is Invalid
          </div>
        </div>
  
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="password" class="form-label"> Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
          <div class="form-text text-danger"
            *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">
            Password is required
          </div>
  
          <div class="form-text text-danger"
            *ngIf="Password.errors?.['minlength'] && (Password.touched || Password.dirty)">
            Password is short
          </div>
          <div class="form-text text-danger"
            *ngIf="Password.errors?.['maxlength'] && (Password.touched || Password.dirty)">
            Password is to long
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6 offset-3 ">
          <div class="d-grid submit-btn">
            <button type="submit" style="cursor: pointer;" [disabled]="loginForm.invalid" class="btn btn-primary px-5">Submit</button>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col mt-2 text-right">
          <span class="m-1">Don't have Account?</span><a class="m-1" routerLink="/Signup">Register</a>
        </div>
      </div>
  
    </form>
  </div>