.container {
    display: flex;
    justify-content: space-between;
    margin-top: 00px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    
  
  }

 .greet{
    color: black !important;
  }

  h1{
    text-align: center;
    font-size: 44px;
    margin: 2em;
    color: #156de8b7;
    padding: 12px 12px;
    background-color: rgba(106, 106, 104, 0.035);
    margin-bottom: 20px;
  }

  article {

  
    margin: 5em 2em;
  }
  .card {
    border: 1px solid #ddd; /* Add a softer border */
    border-radius: 20px;
    padding: 5px 5px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease; 
    width: 500px;
    height: 500px;
  }
  
  
  .card:hover {
    transform: scale(1.26);
  }
  
  img{
    border-radius: 15px;
      width: 488px;
      height: 300px;
  }

  .card-body{
    padding: 40px 30px;
    text-align: Left;
  }
  h3{
    font-size: 35px;
    color: #1a62c7;
  }
  h6{
    font-size: 18px;
    color: #38363661;
  }

  h5{
    font-size: 18px;
    font-weight: 400;
    color: #38363661;
  }


  .default-msg{
    margin-top: 16rem;
    
  }

  .default-msg h2{
    color:#2159a8;
    margin-bottom: 5px;
  }

  .goToLogin-btn{
    margin-top: 30px;
  }

  .goToLogin-btn a {
        
        border:2px solid #2159a8;
        color: #fff;
        font-size: 24px;
        padding:8px 8px;
        border-radius: 5px;
        background-color: #2159a8;
        text-decoration: none;
        
        
      }
      

      .goToLogin-btn a:hover{
        color: #2159a8;
        font-weight: bold;
       border: 3px solid #2159a8;
       background-color: transparent;
      }

     
      .form{
   margin-top: 6em ;
   width: 45%;
      }

      .form h2{
       color: #156de8b7 !important;
      }

      form{
        margin-top: 2em ;
        width: 110%;
      }

      .form-label {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.422);

      }
      
    
      
    .form input{
        color: rgba(0, 0, 0, 0.422);
        height: 48px;

    }
      
      
      .form-text {
        font-size: small;
        font-weight: 500;
        color: rgb(255, 32, 32);
      }
    
      .submit-btn:disabled{
        background-color: #2159a882;
        border:none;
      }

      .submit-btn {
        border:2px solid #2159a8;
            margin-top: 1rem;
            color: #fff;
            font-size: 24px;
            width: 100%;
            padding:8px 8px;
            border-radius: 5px;
            background-color: #2159a8;
          
            
          }
          
          .submit-btn:active{
            color: #2159a8;
            font-weight: bold;
           border: 3px solid #2159a8;
           background-color: transparent;
          }

      @media (max-width: 1024px) {
       
      

        .container {
           
            flex-direction: column;
            max-width: 1500px;
            margin-left: auto;
            margin-right: auto;
            height: auto;
          align-items: center;
          }


          .defaultText{
             margin-top: -150px;
            margin-bottom: 250px;
          }

      }