  
  <div *ngIf="isAccess" class="mt-5 alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Admin!</strong> Can't Rent car! 
    <button type="button" (click)="closeAlert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <h1>Rent Your Car</h1>

 
  <div class="container">
 
   

    <div class="carDetail"><article>

        <div class="card" >
    
            <img class="card-img-top" [src]="carDetail.photoFilePath" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">{{ carDetail.maker }}</h3> 
              <h6 class="card-text">{{ carDetail.model }}</h6>
             
              <h5 class="card-text">{{ carDetail.color }}</h5>
              <h5 class="card-text"><i class="fa fa-inr"></i> {{ carDetail.rentalPrice }}/Day</h5>
            </div>
    
          </div>
      </article>
    </div>

    <div class="form" *ngIf="isUser">
       
        <div class="greet"> <h2 >Hello, {{this.firstName}}</h2></div>
       
       <form [formGroup]="rentalDetailForm" (ngSubmit)="RentYourCar()">
            
        
        <div class="row mb-3">
              <label for="mobile" class="form-label">Mobile</label>
              <input type="number" class="form-control" id="mobile" placeholder="Enter Your Mobile Number"
                formControlName="mobile">
        
              <div class="form-text text-danger "
                *ngIf="Mobile.errors?.['required'] && (Mobile.touched || Mobile.dirty)">
                Mobile Number is required
              </div>
        
            </div>
        
            <div class="row mb-3">
                <label for="adhar" class="form-label">Adhar</label>
                <input type="number" class="form-control" id="adhar" placeholder="Enter Your adhar number"
                  formControlName="adhar">
          
                <div class="form-text text-danger "
                  *ngIf="Adhar.errors?.['required'] && (Adhar.touched || Adhar.dirty)">
                  Adhar Number is required
                </div>
          
              </div>


            <div class="row mb-3">
              
                <label for="duration" class="form-label">Number Of Days you want to rent Car?</label>
                <input type="number" class="form-control" id="duration" placeholder="Enter Number of days " formControlName="duration">
        
                <div class="form-text text-danger " *ngIf="Duration.errors?.['required'] && (Duration.touched || Duration.dirty)">
                  Duration is required
                </div>
        


              </div>
        <div class="row">
          <button  class="submit-btn" type="submit" [disabled]="rentalDetailForm.invalid" >Rent Car</button>
        </div>

          </form> 

    
  </div>
<div class="defaultText">
    <div *ngIf="!isAdmin && !isUser" class="default-msg" > 
        <div class="text-msg"><h2>You didn't Login Yet!, Rent Your Favorite Car And enjoy Your Trip. </h2></div> 
       <div class="goToLogin-btn"><a routerLink="//Login">Go to Login</a></div> 
    </div>
    
    <div *ngIf="isAdmin" class="default-msg" > 
        <div class="text-msg"><h2>You are Admin! You Dont have functionality to Rent Car. </h2></div> 
       <div class="goToLogin-btn"><a routerLink="/RentalAgreementPage">Go to Rental Agreements</a></div> 
    </div>
</div>



</div>

