<header>
    <div class="container header-container">
        <div class="header-left">
            <h1>Your Journey, Our Wheels.</h1>
            <h3>Readfinde!</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis est illo <br> nisi  magni ea distinctio ab quibusdam rem qui ex? Quisquam ipsum quaear <br> sint eos alias rem sequi repellendus culpa?
            </p>
            <a routerLink="Cars" class="btn">Explore Cars</a>
        </div>
        <div class="header-right">
            <div class="sq-box">
                <!-- Use the correct relative path to the image -->
                <img src="assets/car.png" alt="Car Image">
            </div>
        </div>
    </div>
    <div class="sq-box2"></div>
</header>
